/*
* lucas viga
*/

/* color whatsapp 
color-green-dark: #075E54;
color-green-medium: #128C7E;
color-green-primary: #25D366;
color-green-light: #DCF8C6;
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i');

body{
    padding: 45px 40px;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

#app{
    width: 100%;
    color: rgb(48, 47, 47);   
    font-size: 16px;
}

#app a, a:visited{
    text-decoration: none;
    color: #ededed;
}

input {
    border-radius: 3em;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 16px;
    width: 230px;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: #128c7e;
    outline: 0 none;
    color: #7a7a7a;
}

#box-wpp{
    display: none;
    max-width: 320px;
    height: auto;
    position: fixed;
    bottom: 6.5em;
    right: 1em;
    text-decoration: none;
    padding: 1em;
    background-color: #ECE5DD;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.fa-paper-plane{
    color: #fff;
    border-radius: 100%;
    padding: 8px;
    background-color: #128c7e;
    font-size: 16px;
}

.fa-paper-plane:hover{cursor:pointer; opacity: 0.6 !important;}

.box-header{
    background-color: #128c7e;
    text-align: center;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 9px;
    display: inline-block;
    width: 320px;
    border-radius: 30px 30px 0 0;
}

.box-header clearfix {
    content: "";
    display: table;
    clear: both;
}

.box-header h2{
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-left: 5px;
}

.contact-name {
    float: left;
}

.close-btn {
    float:right;
    margin: 10px;
}

.close-btn:hover, .close-btn:link {
    opacity: 0.5;
}

.box-body{
    max-width: 320px;
    padding-top: 7em;
    padding-bottom: 1em;
}

.box-body:last-child{
    margin:0;
}

.box-footer{
    background-color: #128c7e;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: -16px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 9px;
    font-size: 12px;
}

.box-footer :hover{
    cursor: pointer;
}

/* btn whatsapp effect pulse*/

.btn-wpp {
    
    position: fixed;
    bottom: 1em;
    right: 1em;
    text-decoration: none;
    padding: 1em;
    height: 45px;
}


.pulse {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #25D366;
    
    cursor: pointer;
    box-shadow: 0 0 0 rgba(34, 190, 20, 0.4);
    animation: pulse 2s infinite;
    transition: all 1s;
  }
 
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(34, 190, 20, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(34, 190, 20, 0.4);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(34, 190, 20, 0.4);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(34, 190, 20, 0.4);
      box-shadow: 0 0 0 0 rgba(34, 190, 20, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(34, 190, 20, 0.4);
        box-shadow: 0 0 0 10px rgba(34, 190, 20, 0.4);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(34, 190, 20, 0.4);
        box-shadow: 0 0 0 0 rgba(34, 190, 20, 0.4);
    }
  }

  .pulse:hover{
    background-color: #128c7e;
    
  }